.search{
    margin-top:10px;
}
.hovers:hover {
    transform: translateY(-5px);
    color:burlywood;
    cursor:pointer;
}
.see{
    border-radius:10px;
}
.wrapper .za.active{
    height:auto;    
}

.wrapper{
    margin-top:200px;
}

.wrapper .za:before{
    content:"";
    position:absolute;
    top:8px;
    left:-12px;
    height:5px;
}