.search{
    margin-top:10px;
}
.hovers:hover {
    transform: translateY(-5px);
    color:burlywood;
    cursor:pointer;
}
.see{
    border-radius:10px;
}

.w-49{
    width:49% !important;
}
.fontUser{
    position:relative;
}
    .fontUser i {
        position: absolute;
        left: 15px;
        top: 15px;
    }

radius:hover {
    border-radius:20px;

    transform: translateY(-5px);
}
.read_more{
    display:none;
}

.margins{
    margin-left:40px;
}
.marginss{
    margin-left:112px;
}