@model DOAN_THWEB_NC.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết hãng điện thoại</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên hãng điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

        <dt>
            Logo
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagesCategory)" />

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDCategories }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
