
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div style="text-align:center">
        <h2> thanh cong</h2>
        <h3>Email: @Session["Email"].ToString()</h3>
        <h2>dang nhap thanh cong</h2> 
        <a href="@Url.Action("Logout","Home")">
            logout
        </a>
    </div>
</body>

